.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  min-height: 10hv;
}
.filters {
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 2%;
}
.clear {
  width: 10vw;

  justify-content: center;
}
.clear-btn {
  width: 100%;
  height: 100%;

  color: #5da5a4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.clear-btn:hover {
  text-decoration: underline;
  text-decoration-color: #5da5a4;
}
.filter-name {
  color: #5da5a4;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}
.filter {
  display: flex;
  height: 5vh;
  border: none;
  background-color: #f2f2f2;
  color: #5da5a4;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}
.filter-remove {
  align-items: center;
  width: 3vh;
  height: 3vh;
  align-content: center;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: large;
  background-color: #5da5a4;
  color: white;
  cursor: pointer;
}
.divider {
  width: 100%;
  height: 20px;
  background: linear-gradient(#7ee4e2ab, 10%, rgb(255, 255, 255));
  margin-bottom: 2vh;
}
